body{
    padding: 0px;
    background-image: url("https://images6.alphacoders.com/102/1024930.jpg");
    background-size: cover;
    
    
    
    resize: both;

}
#navbar{
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
#navbar>div>a{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
#navbar>div>a:hover{
    background-color: white;
    color: black;
    border-radius: 30px;
    height: 50px;

}
.container input[type=text]{
    width:80%;
    height:50px;
    text-align: center;
    font-size: 30px;
    border-radius:25px;
    color :white;
    background-color: rgb(48, 45, 45);
    
    margin:30px auto;
    border: none;
   
    /* border: 1px solid red; */

}
.image-food{
    height: 150px;
    width: 100%;
}
.select{
    height: auto ;
    width: 400px;
    
   background-color: rgb(90, 90, 117);
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 100%;
    margin: auto;
    margin-top: -300px;

}
.top{
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */

}

     
.container{
    border-radius: 20px;
    float:center;
    background-color: black;
   height: 600px;
    width: 60%;
    /* border: 1px solid red; */
    margin: 80px auto;
    opacity: 90%;
    display: flex;
    justify-content: space-between;
    
}
#ans{
   
    width: 30%;
   
    color: white;
    box-shadow: rgba(2, 2, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin: auto;
    
}
     
.container button{
    background-color: yellow;
    color:black;
    border-radius: 100px;
   width: 50px;
   height:50px;
    padding: 6px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.card {
    
    
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto;
    gap: 5px;
    
    margin: auto;
}

#result {
    /* border: 2px solid red; */
    height: 295px;
    width: 470px;
    overflow-y: auto;
    
    margin: auto 50px;
    color:white;
    

}
.name{
    font-size: 30px;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#login{
    background-color: black;
    height: 40px;
    color: white;
    font-size: 25px;
    color: yellow;
    text-align: right;

}


#by-day{
    width: 90%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    display: grid;
    gap: 30px;
   
    
    text-align: center;
    margin: 20px auto;
}

#by-day>div{
    color: white;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
}
